body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color:rgb(136, 0, 136);
    background-color: beige;
}

.question{
    text-align: center;
}

h1{
    color:rgb(65, 1, 65);
    text-align: center;
}

h2{
    color:rgb(184, 55, 184);
    text-align: center;
}

.q-submission {
    padding: 100px 0 30px;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}

@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}