body * {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
    color:rgb(136, 0, 136);
    background-color: beige;
}

.question{
    text-align: center;
}

h1{
    color:rgb(65, 1, 65);
    text-align: center;
}

h2{
    color:rgb(184, 55, 184);
    text-align: center;
}

.q-submission {
    padding: 175px 0 30px;
}

.q-input {
    width: 25%;
    border: none;
    border-bottom: 2px solid darkgrey;
    background-color: beige;
    height: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

.q-input:focus {
    border-bottom: 2px solid black;
}

.q-submit {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.q-submit:hover {
    background-color: black;
}

.response {
    width: 40%;
    color: darkslateblue;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 3vh;
}
<<<<<<< HEAD
=======

@media only screen and (max-width: 1000px) {
    /* Media queries go here */
}

@media only screen and (max-width: 600px) {
    /* Media queries go here */
}
>>>>>>> d78776ce93cfdc982200b66cf3dac93c667f59c8
