<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Q CAT</title>
</head>
<body>
    <center>
    <div>
        <h1>Q-CAT</h1>
        <h2>A Python Library for Question Categorization</h2>
    </div>
    <hr style="margin: 30px 0;">
    <div>
        <a href="https://www.w3schools.com/" target="_blank"/>Click here to download Q-Cat for your project!</a>
    </div>
    <div class="q-submission">
        <form action='/question' method='post'>
            <!-- <label for="question">Enter a Question:</label> -->
            <input class="q-input" type="text" id="question" name="entered_question" placeholder="Enter a Question"><br><br>
            <input class="q-submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="response">
        <p><b>Question Category:</b> {{category}}</p>
        <!-- <p>Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet. Sorry, we don't have this feature implemented yet.</p> -->
        <p>{{explanation}}</p>
        <a href="https://www.w3schools.com/">Learn More</a>
    </div>
    </center>
</body>
</html>
